/* src/components/TooltipManager.module.css */
.tooltipManagerContainer {
  display: flex;
}

.formContainer {
  flex: 1;
  margin-right: 20px; /* Adjust the margin as needed */
}

.mobileContainer {
  flex:1;
}
