/* src/components/TooltipManager.module.css */
.tooltipManagerContainer {
    display: flex;
  }
  
  .formComponentContainer {
    flex: 1;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .mobileComponentContainer {
    flex: 1;
  }
  
  /* Add any other styles as needed */
  